{
  "port": 8080,
  "SECRET_KEY": "YER A SECRET",
  "githubClientID": "",
  "githubSyncToken": "",
  "githubClientSecret": "",
  "googleAnalytics": "",
  "isSecure": false,
  "staticURL": "http://localhost:8080/public/",
  "routes": {
    "serveStatic": true
  },
  "server": {
    "security": true,
    "state": {
      "cookies": {
        "parse": true,
        "failAction": "log"
      }
    },
    "plugins": {
      "models": {
        "database": {
          "poolSize": 4,
          "user": null,
          "database": "nodebugme",
          "password": null,
          "port": 5432,
          "host": "localhost",
          "ssl": false
        }
      }
    }
  }
}

