
<footer>
  <p>This site is <a href="#">available on github</a>. All code is MIT licensed.
  All art is licensed <a href="https://creativecommons.org/licenses/by/3.0/us/legalcode">CC-BY 3.0</a>.
</footer>
<script type="text/javascript" src="{{staticMediaURL}}bundle.js" data-main="issue-detail"></script>
</body>
</html>
