<div class="question">
  <label>
    <input type="radio" name="answer" value="yes" checked> Yes
  </label>
  <label>
    <input type="radio" name="answer" value="no"> No
  </label>
  <label>
    <input type="radio" name="answer" value="unknown"> I can&#39;t tell.
  </label>
</div>

