<p>On Node 0.10?</p>
<div class="question">
  <label class="input-row">
    <input type="radio" name="answer_node_10" value="yes" checked> Yes
  </label>
  <label class="input-row">
    <input type="radio" name="answer_node_10" value="no"> No
  </label>
  <label class="input-row">
    <input type="radio" name="answer_node_10" value="unknown"> I can&#39;t tell.
  </label>
</div>

<p>On Node 0.11?</p>
<div class="question">
  <label class="input-row">
    <input type="radio" name="answer_node_11" value="yes" checked> Yes
  </label>
  <label class="input-row">
    <input type="radio" name="answer_node_11" value="no"> No
  </label>
  <label class="input-row">
    <input type="radio" name="answer_node_11" value="unknown"> I can&#39;t tell.
  </label>
</div>
