<div class="question">
  <label class="input-row">
    <input type="radio" name="answer" value="yes"> Yes
  </label>
  <label class="input-row">
    <input type="radio" name="answer" value="no"> No
  </label>
  <label class="input-row">
    <input type="radio" name="answer" value="unknown" checked> I can&#39;t tell.
  </label>
</div>

